html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
}

#root {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;

}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 60px;
  overflow-y: auto;
  width: 100%;
}
